<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">History of...</span>
  <button data-backdrop="" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#new-questions-modal" type="button">Ask a Question</button>
</nav>